<!-- <div [ngStyle]="{'background-color':'sanitizedbackgroundcolortproperty', 'border-radius':'sanitizedborderradiuseproperty', 'height':'sanitizedhieghtproperty','width':'sanitizedwidthproperty'}">
22
</div> -->
<!-- <div [ngStyle]="{'background-color':'this.bBackgroundcolor', 'border-radius':'this.bBorderRedius', 'height':'this.bHieght','width':'this.bWidth'}">
22
</div> -->
<!-- <div [ngStyle]="{'background-color':'red', 'border-radius':'2px', 'height':'26px','width':'82px'}">
22
</div> -->
<div class="d-flex align-baseline " [style.background-color]="this.bBackgroundcolor"
     [style.border-radius]="this.bBorderRedius"
     [style.height]="this.bHieght"
     [style.width]="this.bWidth">
     <p [style.color]="this.bTextColor" style="position: relative;right: -4px;top: 3px; font-size: small; text-wrap: nowrap;">{{this.bText}}</p>
    <div style="position: relative;    right: -12px;top: 5px;"><svg [innerHTML]="sanitizedSvgContent"></svg></div>


</div>
